.chrono {
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
}

.history {
    margin: 13px;
}

.history button {
    margin-left: 3px;
    margin-right: 3px;
}

.edit-text {
    font-size: 20px;
    width: auto; 
    height: 15vh;
}

.option {
    margin-top: 20px;
}
 
.editor {
    height: 15vh;
    width: 50%;
}

.chrono-div {
    display: flex;
    justify-content: center;
}

.chrono-div h2 {
    margin-top: 60px;
    margin-left: 10px;
}

.graph {
    max-width: 700px;
    margin: 0 auto;
}